<form class="p-2" (ngSubmit)="formSubmitted()">
    <div>
        <label>Lower Bound</label>
        <input type="number" name="tb1" [(ngModel)]="lb" class="form-control" />
    </div>
    <div>
        <label>Upper Bound</label>
        <input type="number" name="tb2" [(ngModel)]="ub" class="form-control" />
    </div>
    <div class="d-grid pt-1">
        <button class="btn btn-primary" [disabled]="isJobInProgress">START SERIES</button>
    </div>
</form>

<p class="alert alert-danger fw-bold p-4" *ngIf="errMsg"> {{ errMsg}} </p>

<p class="alert alert-info fw-bold p-4" *ngIf="results && results.length>0">
    <span *ngFor="let n of results">{{n}} </span>
</p>