<form class="row border-bottom border-primary p-2" (ngSubmit)="notifyFormSubmitted()" #deptForm="ngForm">
    <div class="col-sm-2 text-end">{{dept.id}}</div>
    <div class="col">
        <input type="text" name="tb1" [(ngModel)]="dept.title" class="form-control" required #title="ngModel"/>
        <ul class="fst-italic text-danger" *ngIf="title.invalid && (title.touched || title.dirty)">
            <li>This is a mandatory field</li>
        </ul>
    </div>
    <div class="col">
        <input type="text" name="tb2" [(ngModel)]="dept.location" class="form-control" required #location="ngModel"/>
        <ul class="fst-italic text-danger" *ngIf="location.invalid && (location.touched || location.dirty)">
            <li>This is a mandatory field</li>
        </ul>
    </div>
    <div class="col-sm-2">
        <button class="btn btn-sm btn-primary me-2" [disabled]="deptForm.invalid">{{dept.isEditable?"SAVE":"ADD"}}</button>
        <button class="btn btn-sm btn-danger" type="button" (click)="cancelBtnClicked()">{{dept.isEditable?"CANCEL":"CLEAR"}}</button>
    </div>
</form>    
